.dashboard {
  padding: 25px 30px;
  color: #1a1a1a;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 180px;
  margin-top: 50px;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card-box {
  height: 110px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.527);
  transition: transform 0.2s ease;
}

.card-box:hover {
  transform: translateY(-5px);
}

.card-box h4 {
  font-size: 14px;
  color: #6b7280;
}

.card-box p {
  font-size: 22px;
  font-weight: 600;
  color: #222b40;
}

.top-items-card {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  text-align: left;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.527);
  grid-row: span 22;
  min-height: 200px;
  width: 250px;
}

.top-items-card h3 {
  margin-bottom: 4px;
  margin-top: -10px;
  font-size: 20px;
  color: #111827;
}

.top-items-card p {
  font-size: 15px;
  font-weight: 700;
  color: #6b7280;
}

.main-grid {
  margin-bottom: 20px;
  margin-right: 320px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  margin-top: -400px;
}

.chart-box {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.527);
  font-size: 15px;
  color: #333;
  padding-bottom: 65px;
}

.chart-box h3 {
  margin-bottom: 40px;
  margin-top: -10px;
  font-size: 20px;
  color: #111827;
}

.restock-box {
  height: 260px;
  width: 1070px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.527);
  font-size: 15px;
  color: #333;
}

.restock-box h3 {
  margin-bottom: 40px;
  margin-top: -10px;
  font-size: 20px;
  color: #111827;
}

.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: grid;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  font-weight: bold;
  padding: 6px 12px;
  background-color: white;
  color: #222b40;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrow {
  border: solid #222b40;
  border-width: 0 2px 2px 0;
  padding: 3.5px;
  display: inline-block;
  transform: rotate(45deg);
  transition: transform 0.25s ease;
}

.dropdown-btn.open .arrow {
  transform: rotate(-135deg);
}

.dropdown-btn:hover {
  background-color: white;
  opacity: 0.9;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 150px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.dropdown-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.dropdown-menu li {
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-menu li:hover {
  background: #f5f5f5;
}

.stock-list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stock-item-bar {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stock-info {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
}

.stock-bar-container {
  background: #ecf0f1;
  height: 12px;
  border-radius: 6px;
  overflow: hidden;
}

.stock-bar {
  height: 20px;
  border-radius: 6px;
  transition: width 0.3s ease;
  display: flex;
  align-items: center;
  padding-left: 6px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.bar-label {
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
}

.top-items-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.top-item {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.top-item-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.top-item-details {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: #555;
}
