.admin-login-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.admin-intro-text,
.admin-login-form {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-intro-text.box-right,
.admin-intro-text.box-left {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.admin-intro-text.box-right {
  box-shadow: -7px 0 7px rgba(0, 0, 0, 0.25);
  background-color: #222b40;
  left: 50%;
}

.admin-intro-text.box-left {
  box-shadow: 7px 0 7px rgba(0, 0, 0, 0.25);
  background-color: #222b40;
  left: 0%;
}

.admin-text-content {
  background: #fff;
  border-radius: 10px;
  padding: 2rem 2.5rem;
  width: 400px;
  text-align: center;
}

.admin-text-content h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #111827;
  margin-bottom: 1rem;
  text-align: right;
}

.admin-text-content p {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  text-align: right;
}

.admin-box-icon {
  width: 90px;
  height: auto;
}

.admin-company-title {
  left: 560px;
  top: 0;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
  position: absolute;
}

.admin-company-icon {
  position: absolute;
  width: 30px;
  height: auto;
  top: 27px;
  left: 520px;
}

.admin-login-form.form-left {
  left: 50%;
  z-index: 1; /* behind the box */
}

.admin-login-form.form-right {
  left: 0;
  background-color: #fff;
  z-index: 1; /* behind the box */
}

.admin-login-form form {
  display: flex;
  flex-direction: column;
  padding: 10rem;
}

.admin-login-form input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 320px;
}

.admin-login-form button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #222b40;
  color: white;
  border: none;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  right: 310px;
  top: 470px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.Register-button {
  position: absolute;
  right: 310px;
  top: 540px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.toggle-button:active {
  transition: opacity 0.2s ease;
  opacity: 0.3;
}
