.topbar {
  position: fixed;        
  top: 0;
  left: 0;
  width: 100%;       
  z-index: 1000;      
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #ededed;
}

.company-name{
  margin: 0;
  padding-left: 25px;
  padding-bottom: 0;
  font-size: 25px;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  color: #1e1e2f;
  font-weight: 600;
}

.role {
  font-size: 15px;
  color: gray;
}
